{% extends 'base.html.twig' %}

{% block title %}Agence index{% endblock %}

{% block body %}
    <h1>Agence</h1>

    <a href="{{ path('app_agence_new') }}" class="btn btn-success my-3">Ajouter une agence</a>

    <table class="table table-strepid">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Titre</th>
                <th>Ville</th>
                <th>Description</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.titre }}</td>
                <td>{{ agence.ville }}</td>
                <td>{{ agence.description }}</td>
                <td>
                    <img src="{{ asset('img/agences/' ~ agence.photo ) }}" alt="{{agence.photo}}" class="rounded mx-auto d-block img-fluid agenceImg">
                </td>
                <td>
                    <a href="{{ path('app_agence_show', {'id': agence.id}) }}">show</a>
                    <a href="{{ path('app_agence_edit', {'id': agence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
